# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/public/uploads/messenger/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# lockfiles from other package managers
package-lock.json
yarn.lock

# environment
.env

# compiled server output
dist/

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/REFERANCE_SOFTWARE/GalaSoft
/easy_prep_tools/Static_site_demo_website
/DONOTUPLOAD
/Desktopapp/node_modules
/Desktopapp/release
/OyamaBridgeDesktopServer/node_modules
/OyamaBridgeDesktopServer/release
OyamaBridgeDesktopServer/oyama-bridge-desktop-server-1.0.0.tgz
*.log
